[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
python-telegram-bot = "*"
absl-py = "*"
influxdb = "*"
influxdb-client = "*"
pylint = "*"
click = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[scripts]
test = "coverage run -m unittest tests"
# lint the whole directory recursively
lint = "pylint --recursive=y ."
coverage = "coverage report"
